.testProject.mpr.bak
.mendix-cache
deployment
theme-cache
*.launch
.classpath
testProject.mpr.lock
.project
3
.history

/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/*.bak
/*.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
target